<div id="contact" class="contact-grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="contact-heading">
        <p class="contact-whatsnext">Whats Next ?</p>
        <h1> <i class="fa fa-envelope-o fa-1x color-green"></i> &nbsp;Get In Touch</h1>
        <p class="contact-content">I am always ready to embark upon new opportunies and advance my learning.</p>
        <a target="_blank" href="mailto:{{contentProvider.content.email}}" class="btn button-contact">Send a note</a>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

</div>