.footer {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer a {
  color: var(--slate);
  text-decoration: none;

}

.footer>a:hover {
  color: var(--green);
}
