<div class="social-tab">
    <ul class="sticky">
        <li>
            <i class="fa fa-github fa-2x social-icon " aria-hidden="true"></i>
            <p><a href="{{contentProvider.social.github}}" target="_blank">Github</a></p>
        </li>
        <li>
            <i class="fa fa-linkedin-square fa-2x social-icon" aria-hidden="true"></i>
            <p><a href="{{contentProvider.social.linkedin}}" target="_blank">LinkedIn</a></p>
        </li>
        <li>
            <i class="fa fa-youtube-play fa-2x social-icon" aria-hidden="true"></i>
            <p><a href="{{contentProvider.social.youtube}}" target="_blank">YouYube</a></p>
        </li>
    </ul>
</div>