@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url("https://fonts.googleapis.com/css?family=Quicksand");


body,
body[data-theme="dark"] {
  background-color: var(--navy);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-alt: #96ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
}

body[data-theme="light"] {
  background-color: #ffffff;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #e6f1ff;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #000000;
  --slate: #000000;
  --light-slate: #000000;
  --lightest-slate: #000000;
  --white: #e6f1ff;
  --green: #ff9f1c;
  --green-tint: rgba(255, 159, 28, 0.1);
  --green-alt: #ffc818;
  --green-tint-dark: rgba(255, 159, 28, 0.6);
}

body[data-theme="cream"] {
  background-color: #fdecef;
  --green: #9d6381;
  --green-tint: rgba(157, 99, 129, 0.1);
  --green-alt: #a77896;
  --green-tint-dark: rgba(57, 99, 129, 0.6);
  --dark-slate: #000000;
  --slate: #000000;
  --light-slate: #000000;
  --lightest-slate: #000000;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #966482;
  --lightest-navy: #233554;
}



:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --green-tint-dark: rgba(100, 255, 218, 0.6);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}


@media only screen and (min-width: 1400px) {
  .hbutton {
    background-color: var(--green-tint);
    color: var(--light-slate);
    padding: 10px;
    border-radius: 4px;
    border-color: var(--green);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
  }

  #hoverbutton {
    position: fixed;
    bottom: 4px;
    right: 10px;
  }
}
