<div id="projects" class="projects-wrapper">
    <div class="project-item">2</div>
    <div class="project-item">2</div>
    <div class="project-item">3</div>
    <div class="project-item">4</div>

    <div class="project-item-main">
        <div class="project-heading">
            <h2> <span class="color-green">&#8857;</span> &nbsp; Some Notable work</h2>
        </div>
        <div class="project-tabs">
            <div class="project-image">
                <img src="../../assets/hero-home_tms-illo.svg" alt="img">
                <div class="green-overlay"></div>
            </div> 
            <div class="project-discription">
                <h3 class="project-name">Project 1</h3>
                <p class="project-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatem nobis ad odit soluta minima cum rerum deleniti aspernatur nihil.</p>
                <ul class="project-languages">
                    <li>JS</li>
                    <li>JS</li>
                    <li>JS</li>
                    <li>JS</li>    
                </ul>
                <div class="project-links">
                    <a href="">Link1</a>
                    <a href="">Link1</a>
                    <a href="">Link1</a>
                </div>
            </div>
        </div>
    </div>
    <div class="project-item">
        6
    </div>
    <div class="project-item">7</div>
    <div class="project-item">8</div>
    <div class="project-item">9</div>
</div>