.twod-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  padding-top: 5%;
}

.hero-grid-container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  padding: 10px;
}

.hero-grid-item {
  /* background-color: rgba(255, 255, 255, 0.1); */
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.hero-grid-item-main {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.intro {
  margin: 0px 0px 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
  animation: fadeInDown 0.5s;
}

.big-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  color: var(--slate);
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
  animation: fadeInDown 1s;
}

.big-heading-2 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  color: var(--green);
  line-height: 1.1;
  display: inline-flex;
  animation: fadeInDown 1.25s;
}

.discription {
  margin: 20px 0px 0px;
  max-width: 540px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--slate);
  animation: fadeInDown 1.5s;
}

.hero-action-btn {
  border: 2px solid var(--green);
  background-color: transparent;
  border-radius: 5%;
  color: var(--green);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  animation: fadeInDown 1.75s;
  text-decoration: none;
}

.hero-action-btn:hover {
  background-color: var(--green-tint);
}


.icon-50 {
  width: 50px;
  height: 50px;
}

.abs {
  position: absolute;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1400px) {
  #lamp-light {
    display: none;
  }
}

.lamp-light {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  width: 20%;
  position: absolute;
  z-index: 5;
  margin-left: 70%;
}

.lamp {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  height: 290px;
}

.light-container {
  width: 100%;
}

.light {
  background-color: var(--green-tint);
  height: 400px;
  width: 100%;
  clip-path: polygon(33% 0%, 70% 0%, 100% 100%, 0% 100%);
  animation: flash 0.5s;
}

.lamp-wire {
  height: 200px;
  width: 5px;
  background-color: var(--green);
  position: relative;
  margin-left: 50%;
}

.lamp-wire::after {
  content: "";
  height: 200px;
  width: 5px;
  background-color: #96ffda;
  margin-left: 5px;
  top: 10;
  position: absolute;
}

.lamp-cover {
  position: absolute;
  background-color: #96ffda;
  border-radius: 150px 150px 0 0;
  height: 100px;
  width: 130px;
  margin-top: 190px;
  margin-left: 3%;
}

.lamp-cover::before {
  content: "";
  background-color: var(--green);
  border-radius: 150px 0 0 0;
  position: absolute;
  height: 100px;
  width: 65px;
  margin-left: 0%;
}

.switch-theme-button {
  position: absolute;
  z-index: 10;
  border: none;
  color: var(--green);
  text-align: center;
  margin-left: 45%;
  margin-top: 25%;
  background-color: transparent;
}
